body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height : 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  min-height : 100vh;
  width : 100%;
  flex-direction: column;
}

.box {
  position : relative;
}

.smile {
  width : 100px;
  height : 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

.close {
  width : 100px;
  height : 100px;
  background : green;
}

.behavior-like {
  position : absolute;
  top : 0;
}

.like-button-list {
  display : flex;

}